body {
    margin: 0; 
    overflow: hidden; 
    background-color: black;
}

#v_src, #out {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: scaleX(-1);
}

#out { z-index: 2;
    pointer-events: none;
}

.darkness {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(10, 5, 0, 0.3);
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 5;
}

.fx {
    position: absolute;
    height: auto;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: none;
    mix-blend-mode: screen;
    z-index: 20;
}

#n {
    width: 1600px;
}

#s {
    width: 2400px;
}
